@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0px;
     font-family: "Orbitron", sans-serif;
 
}
.vh-1{
    background-image: url(./1380773b9a3be82f38e45d05aeac2a187a5ca2aa.png);
    height: 100vh;
    width: 100%;
}
.blac{
    width: 100%;
    height: 100vh;
   background: linear-gradient( 55deg , rgb(0, 0, 0), rgba(255, 255, 255, 0));
}
.flex{
    display: flex;
}
.menu{
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}
.menu-1{
    align-items: center;
    gap: 20px;
}

.menu-2{
    align-items: center;
    gap: 20px;

}
.menu-3{
    align-items: center;
}
.text-vh-1{
    width: 540px;
    color: white;
    margin: 100px 0px 0px 100px;

}
.text-vh-1 h1{
    font-size: 70px;
    margin: 0px 0px;
}
.text-vh-1 p{
    font-size: 20px;
    margin: 30px 0px;
}
.text-vh-1 span{
    color:#60C880;
}
.tap-1{
    width: 250px;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    background-color: #60C880;
    color: white;
}
.menuu{
    align-items: center;
    gap: 20px;
}
.icon{
    display: none;
}
@media(max-width:511px){
    .none{
        display: none;
    }
    .menu-3{
        order: -1;
        margin: 0px 80px 0px 0px;
    }
    .menu{
        justify-content: start;
        
    }
    .tt-vh-1{
        font-size:15px;
    }
    .text-vh-1{
        width: 95%;
        margin: 100px 10px;
    }
    .text-vh-1 h1{
        font-size: 50px;
    }
    .icon{
        display: block;
    }
}