@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0px;
     font-family: "Orbitron", sans-serif;
 
}
.vh-1{
    background-image: url(./1380773b9a3be82f38e45d05aeac2a187a5ca2aa.png);
    height: 100vh;
    width: 100%;
}
.blac{
    width: 100%;
    height: 100vh;
   background: linear-gradient( 55deg , rgb(0, 0, 0), rgba(255, 255, 255, 0));
}
.flex{
    display: flex;
}
.menu{
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}
.menu-1{
    align-items: center;
    gap: 20px;
}

.menu-2{
    align-items: center;
    gap: 20px;

}
.menu-3{
    align-items: center;
}
.text-vh-1{
    width: 540px;
    color: white;
    margin: 100px 0px 0px 100px;

}
.text-vh-1 h1{
    font-size: 70px;
    margin: 0px 0px;
}
.text-vh-1 p{
    font-size: 20px;
    margin: 30px 0px;
}
.text-vh-1 span{
    color:#60C880;
}
.tap-1{
    width: 250px;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    background-color: #60C880;
    color: white;
}
.menuu{
    align-items: center;
    gap: 20px;
}
.icon{
    display: none;
}
.vh-2-text{
  width: 700px;
}
.vh-2-text h1{
    font-size: 50px;
}
.vh-2-text p{
    margin: 30px 0px;
}
.h1{
    color: #60C880;
}
.vh-2{
    align-items: start;
    justify-content: space-around;
    margin: 100px 0px;
}
.vh-2 img{
    width: 400px;
}
.tap-2{
    width: 300px;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    background-color: #60C880;
    color: white;
}

.vh-3-text p{
   margin: 20px 0px;
}
.vh-3-text{
    margin: 0px 30px;
}
.vh--3{
    display: flex;
    align-items: start;
    border: 1px solid black;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
}
.mm{
    margin: 0px 140px;
    font-size: 40px;
}
.grr{
    color: #60C880;
}
.vh-4{
    height: 100vh;
    background-color: #1B1E31;
    color: white;

}
.vh-4-box-1{
    width: 400px;
    background-color: white;
    padding: 30px;
    color: black;
    border: 1px solid gray;
}
.vh-4text-1{
    width: 80%;
}
.vh-4text-1 h1{
   margin: 20px 0px;
}
.all-box-vh-4{
    justify-content: center;
}
.nm{
    margin: 0px 0px 50px 130px;
}
.vh-5-text{
    width: 500px;
}
.vh-5-text p{
    margin: 20px 0px;
    font-size: 20px;
}
.vh-5-text h1{
    font-size: 50px;
}
.tap-5{
    width: 250px;
    background-color: #60C880;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.txt-foto{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
    background-color: #60C880;
   position: absolute;

   
    
}
.border{
    border: 1px solid black;
    width: 400px;
    border-radius: 50%;
    padding: 70px;
    height: 400px;
    position: relative;

}
.txt-5{
   text-align: center;
   margin: 150px 0px;
}
.vh-5{
    align-items: center;
    justify-content: space-around;
}
.iconn-1{
 position: absolute;
 right: -40px;
 top: 210px;
}
.iconn-3{
    position: absolute;
 left: -40px;
 top: 210px;
}
.iconn-2{
   position: absolute;
 
 top: -40px; 
 right: 230px;
}
.iconn-4{
    position: absolute;
    bottom: -40px; 
 right: 230px;

}
.logooo{
    border: 1px solid gray;
    padding: 10px;
}
.logoo-1{
    align-items: center;
    justify-content: center;
}
.logooo-4{
     border: 1px solid gray;
    padding: 18px;
}
.txt-6{
    font-size: 50px;
    margin: 50px 170px;
}
.frr{


    display: flex;
    align-items: center;
}
.fr{
    border:1px solid black ;
   
}
.fr-1{
    padding: 11.5px 0px;
}
.fr-2{
    padding: 32.5px 5px;
}
.frontent{
    margin: 50px;
}
.bc{
    border:1px solid black ;
    width: 150px;
}
.bc-1{
    padding: 24px;
}
.bcc{
    display: flex;
    align-items: center;
    
}
.backand{
    margin: 50px;
}
.vh{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tamom-vh-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.grr{
    margin: 20px 150px;
}
.vh-8-text{
    align-items: center;
    justify-content: space-between;
     margin: 20px 150px;
}
.vhh-8{
    width: 300px;
    border: 1px solid gray;
    padding: 40px;
    
}
.vhh-8 img{
    width: 300px;
}
.vh-8-box{
     display: flex;
     align-items: center;
     justify-content: center;
}
.aaa{
   
}
@media(max-width:511px){
    .none{
        display: none;
    }
    .menu-3{
        order: -1;
        margin: 0px 80px 0px 0px;
    }
    .menu{
        justify-content: start;
        
    }
    .tt-vh-1{
        font-size:15px;
    }
    .text-vh-1{
        width: 95%;
        margin: 100px 10px;
    }
    .text-vh-1 h1{
        font-size: 50px;
    }
    .icon{
        display: block;
    }
    
    .vh-2{
        flex-direction: column;
        justify-content: center;
    }
    .vh-2-text{
        width: 100%;
        
    }
    .vh-2-text h1{
        font-size: 50px;
    }
    .vh--3{
        width: 95%;
        margin: 0px;
    }
    .mm{
        margin: 20px 0px;
    }
    .vh-1{
        background-position: center;
    }
    .all-box-vh-4{
        flex-direction: column;
        align-items: center;
    }
    .vh-4-box-1{
        width: 80%;
        
        
    }
    .vh-4{
        height: 210vh;
    }
    .vh-5{
        flex-direction: column;
    }
    .border{
        padding: 10px;
        margin:50px auto;
    }
    .txt-foto{
        width: 300px ;
        height: 300px;
    }
    .txt-foto{
        margin: 50px;
    }
    .iconn-1{
        right: -15px;
        width: 70px;
        top: 180px;
    }
    .iconn-2{
        right: 190px;
        width: 70px;
        top: -40px;
    }
    .iconn-3{
        left: -15px;
        width: 70px;
        top: 190px;
    }
    .iconn-4{
        right: 190px;
        width: 70px;
        bottom:  -40px;
    }
    .vh-5{
       margin: 50px 0px;
    } 
    .vh-5-text{
        width: 95%;
    }
    .logoo-1 {
        overflow: auto;
    }
    .vh,.tamom-vh-1{
    flex-direction: column;
    
    }
    .txt-6{
        margin: 0px;
    }
    .txt-5{
        margin: 60px;
    }
    .vh-8-box{
        overflow:scroll;
    }
     .aaa{
        margin: 10px;
     }  
     .vh-8-text{
        margin: 10px;
     } 
    
}